<div *ngIf="error" class="h-64 bg-gray-200 text-red-500">
  {{ error }}
</div>

<div *ngIf="!error && heroImages.length === 0" class="h-64 bg-gray-200"></div>

<div *ngIf="!error && heroImages.length > 0">

  <div class="sm:hidden p-[25px]">
    <div class="mb-10">
      <div class="h-64 relative overflow-hidden">
        <img
          [src]="currentImage?.image"
          [alt]="currentImage?.altText"
          class="w-full h-full object-cover absolute top-0 left-0 transition-opacity duration-500"
          [ngClass]="transitionClass"
        />
      </div>
      <div class="p-4 text-center">
        <h1 class="text-3xl font-bold mb-4">
          {{ currentImage?.imageDescription }}
        </h1>
        <p class="text-gray-700 mb-4">{{ currentImage?.altText }}</p>
      </div>
    </div>
  </div>


  <div class="hidden sm:block lg:hidden p-[25px]">
    <div class="mb-10">
      <div class="h-96 relative overflow-hidden">
        <img
          [src]="currentImage?.image"
          [alt]="currentImage?.altText"
          class="w-full h-full object-cover absolute top-0 left-0 transition-opacity duration-500"
          [ngClass]="transitionClass"
        />
      </div>
      <div class="p-[25px] text-center">
        <h1 class="text-3xl font-bold mb-4">
          {{ currentImage?.imageDescription }}
        </h1>
        <p class="text-gray-700 mb-4">{{ currentImage?.altText }}</p>
      </div>
    </div>
  </div>


  <div class="hidden lg:block p-[25px]">
    <div class="mb-10">
      <div class="flex flex-row mb-8">
        <div class="w-1/2 p-8 flex items-center">
          <div>
            <h1 class="text-3xl font-bold mb-4">
              {{ currentImage?.imageDescription }}
            </h1>
            <p class="text-gray-700 mb-4">{{ currentImage?.altText }}</p>
          </div>
        </div>
        <div class="w-1/2 h-96 relative overflow-hidden">
          <img
            [src]="currentImage?.image"
            [alt]="currentImage?.altText"
            class="w-full h-full object-cover absolute top-0 left-0 transition-opacity duration-500"
            [ngClass]="transitionClass"
          />
        </div>
      </div>

      <div class="grid grid-cols-3 gap-[25px]">
        <img
          *ngFor="let spot of spots"
          [src]="spot.image"
          [alt]="spot.altText || 'Spot image'"
          class="w-full h-[300px] object-cover"
        />
      </div>
    </div>
  </div>
</div>
