<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4 sm:place-items-center pt-8">
  <div class="flex items-center justify-start space-x-4 pl-5">
    <lucide-icon name="Globe" class="w-10 h-10 text-gray-800"></lucide-icon>
    <p>Gratis frakt och returer</p>
  </div>
  <div class="flex items-center justify-start space-x-4 pl-5">
    <lucide-icon name="Plane" class="w-10 h-10 text-gray-800"></lucide-icon>
    <p>Expressfrakt</p>
  </div>
  <div class="flex items-center justify-start space-x-4 pl-5">
    <lucide-icon name="Shield" class="w-10 h-10 text-gray-800"></lucide-icon>
    <p>Säkra betalningar</p>
  </div>
  <div class="flex items-center justify-start space-x-4 pl-5">
    <lucide-icon name="Smile" class="w-10 h-10 text-gray-800"></lucide-icon>
    <p>Nyheter varje dag</p>
  </div>
</div>

